<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'object.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">


    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="header_prop_1">
            <div style="display:flex;justify-content: space-between;text-decoration: underline;width: 250px;align-items: center;">
                <span>Контакты</span>
                <span>О нас</span>
                <span>Доставка</span>
            </div>
        </div>
        <div class="header_prop_2">
            <div style="display:flex;justify-content: space-between;text-decoration: underline;width: 150px;align-items: center;">
                <span>Logo</span>
                <span>Написать нам</span>
            </div>
        </div>
    </div>
    <div class="header_1">
        <div class="header_prop_3">
            <span style="margin-left: 110px;"><a href="{% url 'index' %}">LOGO</a></span>
            <div class="header_prop_3_1">
                <button class="header_prop_3_2" style="border: 0px" onclick="display_bar()"  >
                    <img src="../static/Component 81.svg" alt="">
                    <span>Каталог</span>
                </button   >




                <script>
                    function display_bar() {
                        if (document.getElementById("display_content_dropdown").style.display == 'block') {
                          document.getElementById("display_content_dropdown").style.display = "none";
                        }
                        else {
                         document.getElementById("display_content_dropdown").style.display = "block";
                        }
                    }
                </script>




                <div style="display: flex;justify-content: space-between;width: 100%">
                    <form action="{% url 'search' %}" method="get">
                        <input style="border: 0px;background-color: #F7F7FC;height: 48px;width: 200px" name="type_of_category" type="text" placeholder="Ключевое слово" class="header_prop_3_3">

                        </input>
                    </form>
                    <img src="../static/Vector (1).svg" alt="">
                </div>
            </div>
        </div>
        <div class="header_prop_4">
            <img src="../static/Vector.svg" alt=""><span> <a href="{% url 'favorite' %}">Избранное</a>  </span>
            {% if user.is_authenticated %}
                <img src="../static/user 3.svg" alt=""><span>{{ user.get_full_name }}/ <a href="{% url 'logout' %}">Выйти</a> </span>
            {% else %}
                <img src="../static/user 3.svg" alt=""><span>  <a href="{% url 'signin' %}">Вход</a>/ <a href="{% url 'signup' %}">Регистрация</a></span>
            {% endif %}
            <img src="../static/basket 3.svg" alt=""> <a href="{% url 'buy_list' %}"><span>  Корзина {{ total_price }} ₽/ {{ total_counter }} шт</span></a>
        </div>
    </div>

    <div id="display_content_dropdown" style="position: absolute;width: 100%;height: 800px;display: none;">
        <div style="width: 100%;height: 600px;background-color: white">
            <div class="a_not_decor" style="width: 80vw;height:100%;margin: 0 auto;display: flex;justify-content: space-evenly">
                <div >
                    <a href="{% url 'search' %}?type_of_category=Одежда">  <p style="font-size: 16px"><b>Одежда</b></p></a>
                  <a href="{% url 'search' %}?type_of_category=юбки">  <p>юбки</p></a>
                  <a href="{% url 'search' %}?type_of_category=Джемперы">  <p>Джемперы</p></a>
                   <a href="{% url 'search' %}?type_of_category=Джинсы"> <p>Джинсы</p></a>
                  <a href="{% url 'search' %}?type_of_category=Брюки, шорты">  <p>Брюки, шорты</p></a>
                  <a href="{% url 'search' %}?type_of_category=Футболки, топы, лонгсливы">  <p>Футболки, топы, лонгсливы</p></a>
                   <a href="{% url 'search' %}?type_of_category=Блузки, рубашки, туники"> <p>Блузки, рубашки, туники</p></a>
                   <a href="{% url 'search' %}?type_of_category=платья"> <p>платья</p></a>
                   <a href="{% url 'search' %}?type_of_category=толстовки"> <p>толстовки</p></a>
                  <a href="{% url 'search' %}?type_of_category=Костюмы">  <p>Костюмы</p></a>
                   <a href="{% url 'search' %}?type_of_category=Оверол"> <p>Оверол</p></a>
                </div>
                <div>
                  <a href="{% url 'search' %}?type_of_category=Верхняя одежда">  <p style="font-size: 16px"><b>Верхняя одежда</b></p></a>
                  <a href="{% url 'search' %}?type_of_category= куртки">  <p> куртки</p></a>
                  <a href="{% url 'search' %}?type_of_category=Джинсовые куртки"> <p>  Джинсовые куртки</p></a>
                 <a href="{% url 'search' %}?type_of_category=пальто"> <p>   пальто</p></a>
                  <a href="{% url 'search' %}?type_of_category=пуховики"><p>   пуховики</p></a>
                 <a href="{% url 'search' %}?type_of_category=Плащи"><p>    Плащи</p></a>
                  <a href="{% url 'search' %}?type_of_category=ветровки"><p>   ветровки</p></a>
                   <a href="{% url 'search' %}?type_of_category=Кэмэлюкс"><p>  Кэмэлюкс</p></a>
                </div>
                <div>
                   <a href="{% url 'search' %}?type_of_category=Aксессуары"> <p style="font-size: 16px"><b>Aксессуары</b></p></a>
                    <a href="{% url 'search' %}?type_of_category=солнечные очки"><p>солнечные очки</p></a>
                    <a href="{% url 'search' %}?type_of_category=Ремни"><p>Ремни</p></a>
                    <a href="{% url 'search' %}?type_of_category=Перчатки"><p>Перчатки</p></a>
                    <a href="{% url 'search' %}?type_of_category=Бижутерия"><p>Бижутерия</p></a>
                    <a href="{% url 'search' %}?type_of_category=аксессуары дял кубов"><p>аксессуары дял кубов</p></a>
                </div>
                <div>
                    <a href="{% url 'search' %}?type_of_category=Жакеты и пиджак"><p style="font-size: 16px"> <b>Жакеты и пиджаки</b></p></a>
                    <a href="{% url 'search' %}?type_of_category=Обувь"><p style="font-size: 16px"> <b>обувь</b></p></a>
                    <a href="{% url 'search' %}?type_of_category=сумки и кошельки"><p style="font-size: 16px"><b>сумки и кошельки</b></p></a>
                   <a href="{% url 'search' %}?type_of_category=шапки, шляпы, шарфы"><p style="font-size: 16px"> <b>шапки, шляпы, шарфы</b></p></a>
                </div>

            </div>

        </div>
        <div style="width: 100%;height: 200px;opacity: 0.5;background-color: grey"></div>
    </div>


    {% load static %}
    {% block content %}
    {% endblock %}
        <div class="footer_1">
        <div class="footer_prop_n" >
            <span style="font-size: 35px;color: white;">Logo</span>
            <span>Связаться с нами</span>
            <span>Политика конфиденцальности</span>
            <span>Пользовательское соглашение</span>
        </div>
        <div class="footer_prop_n" style="height: 200px;display: flex;flex-direction: row;">
            <div style="display: flex;flex-direction: column; justify-content: space-evenly;margin-right: 50px;"><span style="color: white;">Каталог</span><span>Одежда</span><span>Обувь</span><span>Верхняя одежда</span><span>Домашняя одежда</span></div>
            <div style="display: flex;flex-direction: column; justify-content: space-evenly;"><span style="color: white;"></span><span>Одежда</span><span>Обувь</span><span>Верхняя одежда</span><span>Домашняя одежда</span></div>
        </div>
        <div class="footer_prop_n"><span style="color: white;">О компании</span><span>О нас </span><span>Контакты</span><span>Доставка</span><span>Оплата</span></div>
        <div class="footer_prop_n">
            <span style="color: white;">О компании</span>
            <span>О нас </span><span>Контакты</span><span>Доставка</span><span>Оплата</span>
            <div><img src="../static/Frame 588.svg" alt=""></div>
        </div>
        <div class="footer_prop_n"style="height: 200px;">
            <div style="display: flex;flex-direction: column;justify-content: space-evenly;height: 50% ;"><span>Контакты</span><span>+79123456789</span><span>mail.mail@ru</span></div>

        </div>
    </div>
</body>
</html>