<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'object.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="header_prop_1">
            <div style="display:flex;justify-content: space-between;text-decoration: underline;width: 250px;align-items: center;">
                <span>Контакты</span>
                <span>О нас</span>
                <span>Доставка</span>
            </div>
        </div>
        <div class="header_prop_2">
            <div style="display:flex;justify-content: space-between;text-decoration: underline;width: 150px;align-items: center;">
                <span>Logo</span>
                <span>Написать нам</span>
            </div>
        </div>
    </div>
    <div class="header_1">
        <div class="header_prop_3">
            <span style="margin-left: 110px;"><a href="{% url 'index' %}">LOGO</a></span>
            <div class="header_prop_3_1">
                <div class="header_prop_3_2">
                    <img src="../static/Component 81.svg" alt="">
                    <span>Каталог</span>
                </div>
                <div class="header_prop_3_3">
                    <img src="../static/Vector (1).svg" alt="">
                </div>
            </div>
        </div>
        <div class="header_prop_4">
            <img src="../static/Vector.svg" alt=""><span> <a href="{% url 'favorite' %}">Избранное</a>  </span>
            {% if user.is_authenticated %}
                <img src="../static/user 3.svg" alt=""><span>{{ user.get_full_name }}/ <a href="{% url 'logout' %}">Выйти</a> </span>
            {% else %}
                <img src="../static/user 3.svg" alt=""><span>  <a href="{% url 'signin' %}">Вход</a>/ <a href="{% url 'signup' %}">Регистрация</a></span>
            {% endif %}
            <img src="../static/basket 3.svg" alt=""><span>  Корзина 5000/ 5 шт</span>
        </div>
    </div>
    {% load static %}
    {% block content %}
    {% endblock %}
        <div class="footer_1">
        <div class="footer_prop_n" >
            <span style="font-size: 35px;color: white;">Logo</span>
            <span>Связаться с нами</span>
            <span>Политика конфиденцальности</span>
            <span>Пользовательское соглашение</span>
        </div>
        <div class="footer_prop_n" style="height: 200px;display: flex;flex-direction: row;">
            <div style="display: flex;flex-direction: column; justify-content: space-evenly;margin-right: 50px;"><span style="color: white;">Каталог</span><span>Одежда</span><span>Обувь</span><span>Верхняя одежда</span><span>Домашняя одежда</span></div>
            <div style="display: flex;flex-direction: column; justify-content: space-evenly;"><span style="color: white;"></span><span>Одежда</span><span>Обувь</span><span>Верхняя одежда</span><span>Домашняя одежда</span></div>
        </div>
        <div class="footer_prop_n"><span style="color: white;">О компании</span><span>О нас </span><span>Контакты</span><span>Доставка</span><span>Оплата</span></div>
        <div class="footer_prop_n">
            <span style="color: white;">О компании</span>
            <span>О нас </span><span>Контакты</span><span>Доставка</span><span>Оплата</span>
            <div><img src="../static/Frame 588.svg" alt=""></div>
        </div>
        <div class="footer_prop_n"style="height: 200px;">
            <div style="display: flex;flex-direction: column;justify-content: space-evenly;height: 50% ;"><span>Контакты</span><span>+79123456789</span><span>mail.mail@ru</span></div>

        </div>
    </div>
</body>
</html>