<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Document</title>
</head>
<body>
    <div class="footer_1">
        <div class="footer_prop_n" >
            <span style="font-size: 35px;color: white;">Logo</span>
            <span>Связаться с нами</span>
            <span>Политика конфиденцальности</span>
            <span>Пользовательское соглашение</span>
        </div>
        <div class="footer_prop_n" style="height: 200px;display: flex;flex-direction: row;">
            <div style="display: flex;flex-direction: column; justify-content: space-evenly;margin-right: 50px;"><span style="color: white;">Каталог</span><span>Одежда</span><span>Обувь</span><span>Верхняя одежда</span><span>Домашняя одежда</span></div>
            <div style="display: flex;flex-direction: column; justify-content: space-evenly;"><span style="color: white;"></span><span>Одежда</span><span>Обувь</span><span>Верхняя одежда</span><span>Домашняя одежда</span></div>
        </div>
        <div class="footer_prop_n"><span style="color: white;">О компании</span><span>О нас </span><span>Контакты</span><span>Доставка</span><span>Оплата</span></div>
        <div class="footer_prop_n">
            <span style="color: white;">О компании</span>
            <span>О нас </span><span>Контакты</span><span>Доставка</span><span>Оплата</span>
            <div><img src="../static/Frame 588.svg" alt=""></div>
        </div>
        <div class="footer_prop_n"style="height: 200px;">
            <div style="display: flex;flex-direction: column;justify-content: space-evenly;height: 50% ;"><span>Контакты</span><span>+79123456789</span><span>mail.mail@ru</span></div>
            
        </div>
    </div>
</body>
</html>