{% extends 'html/base.html' %}
{% block content %}
    <div style="width: 80vw;max-width: 1400px;min-width:800px;margin: 0 auto;">
        <div style="margin-top: 50px;width: 100%;height: 350px;background-color: #F7F7FC;display: flex;justify-content: center;align-items: center;color: #616575;">
            <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <span style="color: black;font-size: 35px;">Logo</span>
                <span>Одежда Max Mara из Италии </span>
                <span>с персональной скидкой</span>
            </div>
        </div>

        <div class="a_not_decor" style="margin-top: 96px; display: flex;flex-direction: row;justify-content: space-between;">
            <a href="{% url 'search' %}?type_of_category=Костюм"><div class="index_prop_1"><span>Костюм</span><img src="../static/product_img.svg" alt=""></div></a>
             <a href="{% url 'search' %}?type_of_category=палто"><div class="index_prop_1"><span>Пальто</span><img src="../static/product_img.svg" alt=""></div></a>
             <a href="{% url 'search' %}?type_of_category=Обувь"><div class="index_prop_1"><span>Обувь</span><img src="../static/product_img.svg" alt=""></div></a>
        </div>

        <div class="a_not_decor" style="margin-top: 96px; display: flex;flex-direction: row;justify-content: space-between;">
             <a href="{% url 'search' %}?type_of_category=Жакеты и пиджаки"><div class="index_prop_2"><span>Жакеты и пиджаки</span><img src="../static/product_img.svg" alt=""></div></a>
             <a href="{% url 'search' %}?type_of_category=трикотаж"><div class="index_prop_2"><span>трикотаж</span><img src="../static/product_img.svg" alt=""></div></a>
        </div>

        <div class="a_not_decor" style="margin-top: 96px; display: flex;flex-direction: row;justify-content: space-between;">
             <a href="{% url 'search' %}?type_of_category=купальники"><div class="index_prop_1"><span>купальники</span><img src="../static/product_img.svg" alt=""></div></a>
             <a href="{% url 'search' %}?type_of_category=Домашняя одежда"><div class="index_prop_1"><span>Домашняя одежда</span><img src="../static/product_img.svg" alt=""></div></a>
             <a href="{% url 'search' %}?type_of_category=костюм"><div class="index_prop_1"><span>Marina rinaldi</span><img src="../static/product_img.svg" alt=""></div></a>
        </div>

        <div style="margin-top: 96px;text-align: center;">
            <span style="font-size: 30px;">НОВОЕ ПОСТУПЛЕНИЕ</span>
        </div>

        <div  style="margin-top: 48px;width: 100%;height: auto;white-space: nowrap;overflow-x: auto;scroll-snap-type: x proximity;">
            <div class="index_porop_new_1">
                <div style="height:400px;width: 100%;background-color: #F7F7FC;">

                </div>
                <span style="color: #515562;font-size: 16px;">Some model name</span>
                <span style="font-size: 18px;color: black;">20 000</span>
            </div>
            <div class="index_porop_new_1">
                <div style="height:400px;width: 100%;background-color: #F7F7FC;">

                </div>
                <span style="color: #515562;font-size: 16px;">Some model name</span>
                <span style="font-size: 18px;color: black;">20 000</span>
            </div>
            <div class="index_porop_new_1">
                <div style="height:400px;width: 100%;background-color: #F7F7FC;">

                </div>
                <span style="color: #515562;font-size: 16px;">Some model name</span>
                <span style="font-size: 18px;color: black;">20 000</span>
            </div>
            <div class="index_porop_new_1">
                <div style="height:400px;width: 100%;background-color: #F7F7FC;">

                </div>
                <span style="color: #515562;font-size: 16px;">Some model name</span>
                <span style="font-size: 18px;color: black;">20 000</span>
            </div>
            <div class="index_porop_new_1">
                <div style="height:400px;width: 100%;background-color: #F7F7FC;">

                </div>
                <span style="color: #515562;font-size: 16px;">Some model name</span>
                <span style="font-size: 18px;color: black;">20 000</span>
            </div>
            <div class="index_porop_new_1">
                <div style="height:400px;width: 100%;background-color: #F7F7FC;">

                </div>
                <span style="color: #515562;font-size: 16px;">Some model name</span>
                <span style="font-size: 18px;color: black;">20 000</span>
            </div>
            <div class="index_porop_new_1">
                <div style="height:400px;width: 100%;background-color: #F7F7FC;">

                </div>
                <span style="color: #515562;font-size: 16px;">Some model name</span>
                <span style="font-size: 18px;color: black;">20 000</span>
            </div>
            <div class="index_porop_new_1">
                <div style="height:400px;width: 100%;background-color: #F7F7FC;">

                </div>
                <span style="color: #515562;font-size: 16px;">Some model name</span>
                <span style="font-size: 18px;color: black;">20 000</span>
            </div>
            <div class="index_porop_new_1">
                <div style="height:400px;width: 100%;background-color: #F7F7FC;">

                </div>
                <span style="color: #515562;font-size: 16px;">Some model name</span>
                <span style="font-size: 18px;color: black;">20 000</span>
            </div><div class="index_porop_new_1">
                <div style="height:400px;width: 100%;background-color: #F7F7FC;">

                </div>
                <span style="color: #515562;font-size: 16px;">Some model name</span>
                <span style="font-size: 18px;color: black;">20 000</span>
            </div><div class="index_porop_new_1">
                <div style="height:400px;width: 100%;background-color: #F7F7FC;">

                </div>
                <span style="color: #515562;font-size: 16px;">Some model name</span>
                <span style="font-size: 18px;color: black;">20 000</span>
            </div><div class="index_porop_new_1">
                <div style="height:400px;width: 100%;background-color: #F7F7FC;">

                </div>
                <span style="color: #515562;font-size: 16px;">Some model name</span>
                <span style="font-size: 18px;color: black;">20 000</span>
            </div>





        </div>

        <div style="width: 100%;height: 430px;border: black 1px solid;margin-top: 96px;justify-content: center; align-items: center;display: flex;text-align: center;">
            <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;width: 450px;">
                <span style="margin-bottom: 24px;">О КОМПАНИИ</span><span style="color: #616575;">Меня зовут Имя Фамилия.
                    Я заказываю одежду Бренд из Страна
                    с персональной скидкой и подбираю для Вас
                    интересные варианты сумок,
                    одежды и обуви в шоуруме.</span>
                <div style="width: 220px;height: 48px;background-color: #616575;display: flex;margin-top: 50px; text-align: center;align-items: center;justify-content: center;color:white">
                    <a style="text-decoration: none;color: white" href="{% url 'info' %}"><span>Подробнее</span></a>
                </div>    
            </div>
        </div>

        <div style="margin-top: 96px;text-align: center;">
            <span style="font-size: 30px;">Мы в инстаграм</span>
        </div>  

        <div style="margin-top: 48px;display: flex;flex-direction: row;justify-content: space-between;margin-bottom: 96px;">
            <div class="instagram_prop_1">
            </div>
            <div class="instagram_prop_1">
            </div>
            <div class="instagram_prop_1">
            </div>
            <div class="instagram_prop_1">
            </div>
            <div class="instagram_prop_1">
            </div>
        </div>
    </div>
{% endblock %}