<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/object.css">
</head>
<body>
    <div style="margin: 0 auto;width: 80vw;">
        <div style="margin-top: 50px;color: #616575;">
            <span>Главная/</span><span>Каталог/</span><span>Категория/</span><span>Название/</span><span></span>
        </div>
        <div style="margin-top: 56;display: flex;">

        </div>
    </div>
</body>
</html>